/.web-server-pid
/app/config/parameters.yml
web/build/app.js
web/build/app.css
web/build/images/
web/imgages/
web/assets/product_images/products/
web/build/practice.js
src/Droparea/DropBundle/Resources/views/Default/practice.html.twig
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/node_modules/*
/web/bundles/
/web/build/*
/.idea
