{% extends '@Drop/Default/index.html.twig' %}
{% block over_styles %}
{% endblock over_styles %}
{% block main_content %}
    <div class="container">
        <h2>Новости</h2>
        <p>Появился новый товар</p>
    </div>
{% endblock main_content %}
