{% extends '@Drop/base.html.twig' %}
{% block over_styles %}

{% endblock over_styles %}
{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="raw">
                <div class="col-md-6">
                    <p>
                        Ваш баланс составляет: {{ app.user.balance }} грн.
                    </p>
                    <p>
                        Минимальная сумма для выплаты 100 грн.
                    </p>
                    <p>
                        Заказать выплату в размере
                        <input type="number" value="{{ app.user.balance }}">
                        <button class="btn btn-success">Выплатить</button>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="all-orders-table">
                        <p>Архив выплат</p>
                        <table class="table">
                            <tr>
                                <td scope="col">Сумма</td>
                                <td scope="col">Статус</td>
                                <td scope="col">Дата Заявки</td>
                                <td scope="col">Дата Подтверждения</td>
                            </tr>
                            {% for i in range(0, 5) %}
                                <tr>
                                    <td>70</td>
                                    <td class="btn-success">Выплачено</td>
                                    <td>01.01.2018</td>
                                    <td>02.01.2018</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock main_content %}
