{% extends '@Drop/Default/index.html.twig' %}
{% block over_styles %}
{% endblock over_styles %}
{% block main_content %}
    <div class="container">
        <h2>Мои рефералы</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Почта</th>
                <th>Доход</th>
            </tr>
            </thead>
            <tbody>
            <tr class="success">
                <td>Default</td>
                <td>Defaultson</td>
                <td>def@somemail.com</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock main_content %}
