{% extends '@Drop/base.html.twig' %}
{% block over_styles %}
    {#<script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
{% endblock over_styles %}
{% block main_content %}
    {% include '@Drop/Parts/navigation.html.twig' %}
    <div class="row">
        <div class="col-md-12">
            {#<table class="table-striped">#}
                {#<tr>#}
                    {#<td>№ Заказа</td>#}
                    {#<td>Дата создания</td>#}
                    {#<td>Товар</td>#}
                    {#<td>Статус</td>#}
                    {#<td>Сумма продажи</td>#}
                    {#<td>Сумма покупки</td>#}
                    {#<td>Доход</td>#}
                    {#<td>Телефон клиента</td>#}
                    {#<td>Имя клиента</td>#}
                    {#<td>ТТН</td>#}
                    {#<td>Адрес доставки</td>#}
                    {#<td>Комментарий</td>#}
                {#</tr>#}
                {#{% for i in range(1,7)  %}#}
                    {#<tr>#}
                        {#<td>777</td>#}
                        {#<td>19.08.2018</td>#}
                        {#<td>Розетка</td>#}
                        {#<td>В обработке</td>#}
                        {#<td>70</td>#}
                        {#<td>800</td>#}
                        {#<td>730</td>#}
                        {#<td>+38097 77 77 777</td>#}
                        {#<td>Александр</td>#}
                        {#<td>333555777</td>#}
                        {#<td>Черкассы</td>#}
                        {#<td>Отделение №7</td>#}
                    {#</tr>#}
                {#{% endfor %}#}
            {#</table>#}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">№ Заказа</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Товар</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Сумма продажи</th>
                    <th scope="col">Сумма покупки</th>
                    <th scope="col">Доход</th>
                    <th scope="col">Телефон клиента</th>
                    <th scope="col">Имя клиента</th>
                    <th scope="col">ТТН</th>
                    <th scope="col">Адрес доставки</th>
                    <th scope="col">Комментарий</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Jacob</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>Larry</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>the Bird</td>
                    <td>the Bird</td>
                    <td>the Bird</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock main_content %}


