{% extends '@Drop/base.html.twig' %}

{% block main_content %}
    {% include '@Drop/Parts/navigation.html.twig' %}
    <!-- SECTION NEW PRODUCTS-->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Доступные товары</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Ноутбуки</a></li>
                                <li><a data-toggle="tab" href="#tab1">Смартфоны</a></li>
                                <li><a data-toggle="tab" href="#tab1">Камеры</a></li>
                                <li><a data-toggle="tab" href="#tab1">Аксесуары</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /section title -->

                <div class="col-md-12">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-3">
                            <!-- product -->
                            <div class="product">
                                <div class="product-img">
                                    <img src="{{ asset('build/images/products/' ~ product.image) }}" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">{{ product.category.name }}</p>
                                    <h3 class="product-name"><a href="#">{{ product.name }}</a></h3>
                                    <h4 class="product-price">{{ product.cost }}</h4>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- /product -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION NEW PRODUCTS-->
{% endblock main_content %}