{% extends '@Drop/base.html.twig' %}
{% block over_styles %}
    <script src="{{ asset('build/practice.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
{% endblock over_styles %}
{% block main_content %}
    {% include '@Drop/Parts/navigation.html.twig' %}
    <div class="wrapper">
        {{ form_start(user_form) }}
        {{ form_end(user_form) }}
    </div>
{% endblock main_content %}


