{% extends '@Drop/base.html.twig' %}
{% block over_styles %}
    <link href="{{ asset('css/orders.css') }}" rel="stylesheet" />
{% endblock over_styles %}
{% block main_content %}
    {% include '@Drop/Parts/navigation.html.twig' %}
    <div class="wrapper">
        user
    </div>
{% endblock main_content %}
