{% extends '@Drop/Default/index.html.twig' %}
{% block over_styles %}
    <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet" />
{% endblock over_styles %}
{% block main_content %}
    <div class="wrapper">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 reg">
                <h4>Регистрация нового продавца</h4>
                {{ form_start(user_form) }}
                {{ form_end(user_form) }}
            </div>
            <div class="row"><div class="col-md-4"></div>
        </div>
    </div>
{% endblock main_content %}


