.order-status {
    padding-bottom: 12px;
}

.order-status li {
    float:left;
    padding: 4px 7px;
    background: rgba(162, 105, 123, 0.48);
    color: #020303;
    margin:1px 0 7px 3px;
    cursor: pointer;
    border-radius: 5px;
}
.order-status li:hover {
    color: #010101;
    padding-top:2px;
    opacity: 0.9;
}
li .btn {
    text-shadow: 1px 1px 8px #fff;
    font-weight: bold;
}
li .btn span {
    text-shadow: none;
}
#new button {
    background: rgba(130,183,247,1);
}
#in-progress button {
    background: rgba(18,158,116,1);
}
#not-call button {
    background: rgba(228,208,10,1);
}

#accepted button {
    background: rgba(87,101,239,0.84);
}
#rejected button {
    background: rgba(237,100,100,1);
}
#shipped button {
    background: rgba(145,209,10,1);
}
#non-payment button {
    background: rgba(219,16,31,1);
}
#buyout button {
    background: rgb(19, 170, 42);
}
#not-send-process button {
    background: rgb(43, 114, 193);
}
table {
    font-size: 80%;
    border: 2px solid #818182;
}
table tr:hover {
    background: #fff3cd !important;
}
/*.order-status::after {*/
    /*content: "<div></div>";*/
    /*clear: both;*/
/*}*/

/*BEGIN****************************************NEW-ORDERS-PAGE*****************************BEGIN*/
.wrapper {
    width:98%;
    margin: 0 auto;
}
.products-table table, .orders-table table{
    border: 1px solid #adadad;
    background: #fff3cd;
}
.headers {
    margin-left: 20px;
    /*position: absolute;*/
}
.products-table {
    height:300px;
    /*border:1px solid red;*/
    /*background: #818182;*/
    overflow: scroll;
    position: relative;
}
/*END***************************************NEW-ORDERS-PAGE*****************************END*/