<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="{{ path('products') }}">Товары</a></li>
                <li><a href="#">Заказы</a></li>
                <li><a href="#">Выплаты</a></li>
                <li><a href="#">Статистика</a></li>
                <li><a href="#">Рефералы</a></li>
                <li><a href="#">Новости</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->