<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            {{ knp_menu_render('DropBundle:Builder:mainMenu', { 'currentClass': 'active'} )}}

            {#<ul class="main-nav nav navbar-nav">#}
                {#<li><a href="{{ path('products') }}">Товары</a></li>#}
                {#<li><a href="{{ path('orders') }}">Заказы</a></li>#}
                {#<li><a href="#">Выплаты</a></li>#}
                {#<li><a href="#">Статистика</a></li>#}
                {#<li><a href="#">Рефералы</a></li>#}
                {#<li><a href="#">Новости</a></li>#}
            {#</ul>#}
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->