<!-- NAVIGATION -->
<link href="https://fonts.googleapis.com/css?family=Great+Vibes|M+PLUS+Rounded+1c|Monoton|Oswald|Poiret+One|Russo+One|Tangerine" rel="stylesheet">
<nav id="navigation">
    <style>
        .icon {
            display: none;
        }

        @media screen and (max-width: 600px) {
            #responsive-nav li:not(:first-child) a {display: none;}
            .icon {
                float: right;
                display: block;
            }
        }

        @media screen and (max-width: 600px) {
            #responsive-nav.responsive {position: relative;}
            #responsive-nav.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
            }
            #responsive-nav.responsive li a {
                float: none;
                display: block;
                text-align: left;
            }
        }
    </style>
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav" class="responsive-nav">
            <!-- NAV -->
            {{ knp_menu_render('DropBundle:Builder:mainMenu', { 'currentClass': 'active'} )}}
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            {#<ul class="main-nav nav navbar-nav">#}
                {#<li><a href="{{ path('products') }}">Товары</a></li>#}
                {#<li><a href="{{ path('orders') }}">Заказы</a></li>#}
                {#<li><a href="#">Выплаты</a></li>#}
                {#<li><a href="#">Статистика</a></li>#}
                {#<li><a href="#">Рефералы</a></li>#}
                {#<li><a href="#">Новости</a></li>#}
            {#</ul>#}
            <!-- /NAV -->
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("responsive-nav");
                if (x.className === "responsive-nav") {
                    x.className += " responsive";
                } else {
                    x.className = "responsive-nav";
                }
            }
        </script>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->