<!-- SEARCH BAR -->
<div class="col-md-6">
    <div class="header-search">
        <form>
            <select class="input-select">
                <option value="0">Все категории</option>
                <option value="1">Category 01</option>
                <option value="1">Category 02</option>
            </select>
            <input class="input" placeholder="Искать ...">
            <button class="search-btn">Поиск</button>
        </form>
    </div>
</div>
<!-- /SEARCH BAR -->