<!-- TOP HEADER -->
<div id="top-header">
    <div class="container">
        <ul class="header-links pull-right">
            <li><a href="#">Баланс <span class="badge">1000</span></a></li>
            <li><a href="#">В заказе <span class="badge">275</span></a></li>
            <li><a href="#">Выплачено <span class="badge">25899</span></a></li>
            <li><a href="#">Отклонено <span class="badge">0</span></a></li>
            <li><a href="{{ path('user_page') }}">Бестдропов Александр Николаевич  <i class="fas fa-user-tie"></i></a></li>
        </ul>
    </div>
</div>
<!-- /TOP HEADER -->

