<!-- TOP HEADER -->
<div id="top-header">
    <div class="container">
        <ul class="header-links pull-right">
            <li><a href="{{ path('patron') }}"><i class="fa fa-user-o"></i>Мой аккаунт</a></li>
        </ul>
    </div>
</div>
<!-- /TOP HEADER -->