<!-- HEADER -->
<header>
    {% block top_header %}

    {% endblock top_header %}
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="{{ path('drop_homepage') }}" class="logo">
                            <h2>Best Drop Company</h2>
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
                {% block search_bar %}

                {% endblock search_bar %}

                {% block account %}

                {% endblock account %}
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->