{% extends '@Drop/base.html.twig' %}
{% block main_content %}

{% block navigation %}
    {% include '@Drop/Parts/navigation.html.twig' %}
{% endblock navigation %}

{% block new_products %}
    <h1 class="page-header text-center">
        {#Welcome#}
        {#{{ app.user ? app.user.name : 'Aquanauts' }}!#}
        Зарабатывай на дропшиппинге вместе с нами
    </h1>
    {% include '@Drop/Parts/new-products.html.twig' %}
{% endblock new_products %}

{% block hot_deal %}
    {% include '@Drop/Parts/hot-deal.html.twig' %}
{% endblock hot_deal %}

{% block top_selling %}
    {% include '@Drop/Parts/top-selling.html.twig' %}
{% endblock top_selling %}

{% endblock main_content %}

