.first-offer {
    /*padding-bottom: 15px;*/
    height: 615px;
    /*background: #6f6967;*/
    border-radius: 6px;
    text-align: center;
    /*font-family: 'Oswald', sans-serif;*/
    border: 2px solid #afa3a3;
    /*overflow: hidden;*/
    /*background: #0a29da;*/
    background: url("../../img/money.jpg");
    /*background-image:;*/
    /*opacity: 0.4;*/
}

.first-offer h2 {
    padding: 55px 0;
    /* text-transform: capitalize; */
    /* font-weight: normal; */
    font-size: 30px;
    /* text-shadow: 1px 1px 0px #086bc0; */
    letter-spacing: -1px;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    margin-top: 10px;
}

.first-offer h3 {
    color: #eeeef3;
    background: #0a1e92d1;
    padding: 15px 0;
    border-radius: 10px;
}
.first-offer .five-step {
    background: rgb(255, 255, 255);
    /*overflow: hidden;*/
    padding: 15px;
    border-radius: 10px;
}

.first-offer .best {
    padding: 15px;
    /* text-transform: capitalize; */
    /* font-weight: normal; */
    font-size: 23px;
    /* text-shadow: 1px 1px 0px #086bc0; */
    letter-spacing: 3px;
    color: #101232e8;
    text-align: left;
    padding-left: -3px;
    background: #21323e12;
    border-radius: 8px;
}

.first-offer .grove {
    width: 38%;
    float: right;
    margin-right: 100px;
}

.first-offer ul {
    float: left;
    text-align: left;
    /*font-size: 210%;*/
    margin-top: 20px;
}

mark {
    color:red;
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    font-size: 40px;
    border-radius: 8px;
}

.first-offer span {
    background: #d2d6dc;
    border-bottom: 2px double #a9909469;
    padding: 28px;
    border-radius: 8px;
}

.first-offer li {
    color: rgba(42, 40, 60, 0.95);
    /* text-shadow: 1px 1px 0px #086bc0; */
    letter-spacing: 1px;
    border-bottom: 3px ridge #9d7a7a36;
    padding-bottom: 15px;
    font-size: 195%;
}

.first-offer li i {
    width:45px;
    color: red;
}

.first-offer p {
    font-size: 22px;
    text-align: center;
    margin-top: -8px;
    color: #3a3232d6;
    margin-bottom: 55px;
    letter-spacing: 1px;
    /* text-shadow: 0px 1px 0px #2d32ccd6; */
    text-transform: uppercase;
}

.first-offer .arrow i {
    color:red;
    font-size: 65px;
}

.first-offer .btn-lg {
    height: 95px;
    font-size: 42px;
    letter-spacing: 14px;
    /* text-transform: uppercase; */
    color: white;
    /*text-shadow: -1px 1px 1px #ffffffd1;*/
}

.brdr {
    border: 2px solid #afa3a3;
    margin-top: 91px;
    border-radius: 6px;
    /* padding: 25px 0; */
    background: #0a29da;
}

/*@media screen and (max-width: 1510px) {*/
    /*.first-offer h2 {*/
        /*font-size: 25px;*/
    /*}*/
    /*mark {*/
        /*font-size: 35px;*/
    /*}*/
/*}*/

@media screen and (max-width: 1200px) {
    .first-offer h2 {
        font-size: 28px;
        text-shadow: none;
        letter-spacing: 3px;
    }
    mark {
        font-size: 20px;
    }
}

@media screen and (max-width: 980px) {
    .first-offer h2 {
        font-size: 20px;
        letter-spacing: 4px;
        text-shadow: none;
    }
    mark {
        font-size: 15px;
    }
}

@media screen and (max-width: 650px) {
    .first-offer h2 {
        font-size: 15px;
        letter-spacing: 1px;
        text-shadow: none;
    }
    mark {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .first-offer h3 {
        font-size: 15px;
    }
    .first-offer h2 {
        font-size: 14px;
        letter-spacing: 2px;
        text-shadow: none;
    }
    .first-offer .best {
        text-align: justify;
        font-size: 20px;
        letter-spacing: normal;
        text-shadow: none;
    }
    .first-offer img {
        width: 100%;
        margin:0 0 100px 0;
        padding: 0;
    }
    .first-offer li {
        text-shadow: none;
        letter-spacing: 1px;
        border-bottom: 3px ridge #9d7a7a36;
        margin-bottom: 17px;
        font-size: 106%;
    }
    .brdr p {
        /*width: 50%;*/
        font-size: 21px;
        letter-spacing: 2px;
    }
    .best-products .best {
        font-size: 30px !important;
        letter-spacing: 3px !important;
    }
    /*.btn-lg {*/
        /*!*width: 50% !important;*!*/
        /*font-size: 15px !important;*/
    /*}*/
    mark {
        font-size: 15px;
        margin-top: 5px;
        display: inline-block;
    }
}

